<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h2><%= active_user.username %>'s Friends <i class="fa fa-smile-o"></i></h2>
		<div id="content">
			<h3 class="gray">You currently don't have any friends. <i class="fa fa-frown-o"></i></h3>
		</div>
	</div>
</div>
<div id="username"><%= @userid %></div>