<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h3>Recently Added:</h3>
		<div class="row">
		<% @restaurants.each do |r| %>
			<%= render 'partials/restaurant', r: r %>
		<% end %>
		</div>
	</div>
</div>
