<% if @error %>
	<h2 style="text-align: center;" class="gray">Invalid search criteria</h2>
	<h3 style="text-align: center;">You need to specify both a term (restaurant name or category) and a location.</h3>
<% else %>
<div class="row">
	<div class="col-md-6 col-md-offset-2 fullcontainer">
		<h2>Results for '<%= @term %>' near '<%= @loc %>'</h2>
		<div class="row">
			<% @restaurants.each do |r| %>
				<%= render 'partials/restaurant', r: r %>
			<% end %>
		</div>
	</div>
</div>
<% end %>