body {
	background-color: #EFEFEF;
}

@media (max-width: 600px) {
  .restaurant {
  	h4 {
  		font-size: 1.2em;
  		margin-bottom: -2px;
  	}
  	font-size: 0.8em;
  	&:hover {
  		background: #EEE;
  	}
  }
}

.navbar {
	background-color: #16AB99;
	border: none;
	border-radius: 0;
}

a {
	color: #2C8077;
	&:hover {
		color: #076F64;
	}
}

.navbar-default .navbar-nav li a {
	color: #FFF;
	&:hover {
		color: #B4EDE7;
	}
}

.navbar-default .navbar-brand {
	color: #FFF;
	font-size: 30px;
	&:hover {
		color: #D9FAF6;
	}
}

.navbar-header, .nav {
	padding: 10px 0;
}

.deviseform {
	text-align: center;
	background: #FAFAFA;
	padding-bottom: 40px;
	border-radius: 0 0 10px 10px;
	border: 1px solid #DDD;
}

label {
	font-weight: 200;
}

.field__input {
	padding: 5px;
  width: 100%;
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}

#error_explanation {
	h2 {
		font-size: 20px;
		color: #F59393;
	}
	ul {
		text-align: left;
		list-style-type: none;
	}
}

.foot {
	font-size: 13px;
	color: #999;
	margin-left: 40px;
}

.restaurant {
	border-radius: 2px;
	background-color: #FFF;
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	a {
		text-decoration: none !important;
	}
	padding: 4px;
	margin: 5px 10px 0px 10px;
	color: #999;
	&:hover {
		cursor: pointer;
	}
}

.rating {
	color: #E0741B;
	font-size: 1.5em;
}

.center {
	text-align: center;
}

.black {
	color: #111;
}

.gray {
	color: #AAA;
}

.alert {
	font-size: 1.2em;
	color: #A3333A;
}

.bigger {
	font-size: 1.3em;
}

.r-lead {
	color: #333;
	font-size: 1.6em;
	margin-bottom: -8px;
}

#mapsaddress {
	display: none;
}

#username {
	display: none;
}

#map-canvas {
	box-shadow: 0px 1px 4px #AAA;
}

.img-rounded {
	margin-top: 5px;
	margin-bottom: 5px;
	box-shadow: 0px 1px 4px #AAA;
}

.imgblock {
	position: relative;
	top: -22px;
  display:inline-block;
  width:20%;
  height:20%;
  vertical-align: top;
  margin-right:10px;
}

.textblock {
	width: 75%;
	vertical-align: bottom;
  display:inline-block;
  margin-bottom: 20px;
}

.dishes {
	background: #FCFCFC;
	border-radius: 4px;
	border: 1px solid;
	border-top: 2px solid;
	border-color: #16AB99 #dfe0e4 #d0d1d5;
	padding: 10px;
	margin-bottom: 40px;
}

.dish {
	cursor: pointer;
	border: 4px solid #FCFCFC;
	padding-bottom: 10px;
	i {
		visibility: hidden;
	}
	.fa-check {
		visibility: visible;
	}
	&:hover {
		i {
			visibility: visible;
		}
	}
}

.dish-search {
	border: none;
	border-bottom: 2px solid #888;
	background: #FCFCFC;
	box-shadow: none;
	width: 230px;
	font-size: 0.8em;
}

#yourlist {
	font-size: 1.3em;
	color: #E0741B;
}

.hiding {
	display: none;
}

.green {
	color: #709E54;
}

.subtlegreen {
	background-color: #EAF0E6;
}

.addToDish {
}

.fixedwidth {
	float: left;
	width: 80%;
}

// restaurant page
.card {
	position: relative;
	top: -14px;
	padding: 12px;
	border-radius: 2px;
	background-color: #FFF;
	box-shadow: 0px 2px 4px #AAA;
}
.title-area {
	position: relative;
	left: -8px;
	top: -12px;
	margin-bottom: -26px;
}
.locubutton {
	margin-top: 20px;
}

.dishstats {
	color: #F06859;
	font-size: 0.88em;
}

.rating-good {
  display: inline-block;
  background-color: #7ED162;
  width: 50px;
  height: 10px;
}

.rating-bad {
  display: inline-block;
  background-color: #D16F62;
  width: 50px;
  height: 10px;
}
.form-group {
	label {
		margin-left: 10px;
	}
}

// dishlist
.restaurant-listing {
	div {
		position: relative;
		top: 10px;
		display: inline-block;
		margin-left: 12px;
		margin-bottom: 12px;
	}
}
.listing-title {
	font-size: 2em;
	color: #222;
}
.listing-descrip {
	font-size: 1.1em;
	color: #888;
}
.dish-listing {
	padding: 6px;
	margin-top: 8px;
	margin-left: 20px;
	color: #222;
	font-size: 1.1em;
	i {
		visibility: hidden;
	}
	&:hover {
		i {
			visibility: visible;
		}
	}
}
.dish-descrip {
	font-size: 0.88em;
	color: #AAA;
}
.iconset {
	margin-top: -10px;
	font-size: 1.8em;
	.fa {
		margin-left: 9px;
		cursor: pointer;
	}
}
.fa-trash-o {
	width: 30px;
	&:hover {
		color: #CF626D;
	}
}
.fa-thumbs-down {
	&:hover {
		color: #111;
	}
}
.fa-thumbs-o-up {
	&:hover {
		color: #6DD1C7;
	}
}

// homepage
.explanation {
	h3 {
		margin-top: 8px;
	}
	background: #FAFAFA;
	border: 1px solid #2C8077;
	border-bottom: 2px solid #076F64;
	padding: 12px;
	border-radius: 4px;
}

// header
.navbar-form {
	border: none !important;
}
.navbar-toggle {
	background: transparent !important;
	border: none;
	margin-top: 6px;
}
.icon-bar {
	background-color: #FFF !important;
}
.collapse {
	overflow: hidden;
	.form-control {
		width: 35%;
		display: inline-block;
	}
	form {
		margin-left: 10px;
	}
}
.hidden {
	visibility: hidden;
}
.spinnas {
	color: #FFF;
	position: relative;
	top: 10px;
}

// buttons
.btn-info {
	border: 1px solid #16AB99;
	color: #16AB99;
	background: transparent;
	&:hover {
		color: #FFF;
		border: 1px solid #1F877B;
		background: #16AB99;
	}
	&:focus {
		color: #FFF;
		border: 1px solid #1F877B;
		background: #16AB99;		
	}
}

.btn-primary {
	border: 1px solid #FFF;
	background: transparent;
	&:hover {
		background: #FFF;
		border: 1px solid transparent;
		color: #16AB99;
	}
	&:focus {
		background: #FFF;
		border: 1px solid transparent;
		color: #16AB99;		
	}	
}

// friends
#d-message {
	margin-top: 20px;
}
.friend-card {
	width: 260px;
	margin: 4px;
	padding: 8px;
	border-radius: 2px;
	background-color: #FFF;
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	.fa-times {
		visibility: hidden;
		color: #C45858;
		cursor: pointer;
	}
	&:hover {
		.fa-times {
			visibility: visible;
		}
	}
	&:focus {
		.fa-times {
			visibility: visible;
		}
	}
}
.user-card {
	cursor: pointer;
	width: 260px;
	margin: 4px;
	padding: 12px;
	border-radius: 2px;
	background-color: #FFF;
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	.fa-plus {
		visibility: hidden;
		color: #16AB99;
	}
	&:hover {
		.fa-plus {
			visibility: visible;
		}
	}
	&:focus {
		.fa-plus {
			visibility: visible;
		}
	}
}
.fa-user {
	margin-right: 10px;
}
.add-card {
	width: 260px;
	margin: 4px;
	padding: 12px;
	border-radius: 2px;
	background-color: #FFF;
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	.fa-check {
		cursor: pointer;
		color: #58C472;
		margin-right: 10px;
	}
	.fa-times {
		cursor: pointer;
		color: #C45858;
	}
}

#backbutton {
	border: none;
	background: none;
	font-size: 2em;
	font-weight: 400;
	color: #FFF;
	display: none;
	margin-left: 10px;
	font-weight: 200;
}

#homelink {
	display: none;
}

// Fixes for iOS. Important! is a necessary evil. Forgive me father for I have sinned
// mobile portrait
@media (max-width: 550px) {
	#map-canvas {
		height: 300px !important;
	}
	.control-label {
  	width: 90% !important;
  }
  .form-group .col-xs-8 {
  	width: 100% !important;
  }
	.restaurant .col-xs-4 {
		width: 90px;
	}
}
// all mobile
@media (max-width: 600px) {
	#map-canvas {
		height: 180px !important;
	}
	.img-rounded {
		width: 80px;
	}
	.restaurant .col-xs-4 {
		width: 110px;
	}
	#homelink {
		display: block;
	}
	.fullcontainer {
		padding-left: 0 !important;
		padding-right: 0 !important;
		h3, h2 {
			text-align: center;
		}
	}
	.restaurant-listing {
		padding-bottom: 10px;
		padding-left: 4px;
		&:hover {
			background: #EEE;
		}
	}
  .restaurant-listing div {
  	width: 180px;
  	margin-left: 4px !important;
  }
  .restaurant-listing img {
  	width: 80px;
  }
  .listing-title {
  	font-size: 1.1em !important;
  }
  .listing-descrip {
  	font-size: 0.9em !important;
  }
  .dish-listing {
  	font-size: 0.9em !important;
  	i {
			visibility: visible !important;
			margin-right: 14px !important;
  	}
  	.iconset {
  		margin-top: 10px;
  		width: 100% !important;
  	}
  	.descrip-8 {
  		width: 100% !important;
  	}
  }
  .dish {
  	width: 100% !important;
  }
}
// iPhone specific
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
	#mybrand {
		margin-left: 12%;
		display: inline;
	}
	#backbutton {
		display: block;
		&:hover {
			color: #EEE;
		}
	}
}